body {
    background-image:url(img/bg.png);
	background-repeat:no-repeat;
	background-position:top center;
	background-color:#FFF;
	background-attachment:fixed;
	margin:0px;
	padding:0px;
    font-family:Verdana, Arial, sans-serif;
	font-size:13px;
  
  
 
  


	

	
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
		
	
}
#holder{
width:1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	overflow:hidden;
	background-image:url(img/bg_center60.png);
}


/* Links */
a, a:visited, a:active {
  color: #900;
  text-decoration: none;
  font-weight:bold;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

a.button, a.button:visited, a:active {
	color:#FFF;
}
a.button:hover {
  color: #000000;
  text-decoration: none;
}


/* Font types */

h1 {
  
 
  font-size: 12px;
  font-weight: bold;
  
  
  padding-left: 20px;
  
  width: 95%;
  text-align: left;
  text-transform: uppercase;
  
}

h2 {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.button {
	padding:1px 8px 1px 8px;
	margin-left: 5px;
	
	font-size:11px;
	border: 1px solid #333333;
	background-color: #AE452B;
	color:#FFF;
	
}

#pad {
	float:left;
	
	min-height: 500px;	
	width:500px;	
}

#navi{ 
	float:left;
	text-align:left;
	text-height:font-size;
	line-height:25px;
	
	
	width:250px;
		
}

#top{
	float:left;
	height:393px;
	width:950px;
	clear:both;
	padding-left:250px;
	padding-top:25px;
	background-repeat:no-repeat;
	background-image:url(img/head.png);
	
	}
	
#headline{
	float:left;
	padding-left:650px;	
	padding-top: 250px;
	
}
	
#footer{
	clear:both;
	float:left;
	width:1200px;
	height:120px;
	background-repeat:no-repeat;
	background-image:url(img/footer.png);
	